nav > a > i {
    margin-right: 20px;
    font-size: 35px;
    color: var(--lettersColor);
 
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--contrastColor);
        transform: translateY(-10px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }
 }

 /* Regras para telas menores (celulares) */
@media screen and (max-width: 680px) {
    nav {
        a {
            margin: 3%;
            i {
                margin-right: 0px; 
            }
        } 
    } 
}