<footer> 
    <div class="social-midia">
        <nav>
            <a href="https://www.linkedin.com/in/thiagomotape/" target="_blank" title="Linkedin">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/thiagomotaPE" target="_blank" title="Github">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://dev.to/thiagomotape" target="_blank" title="Do dev">
                <i class="fa-brands fa-dev"></i>
            </a>
            <a href="thiagomotape@hotmail.com.br" target="_blank" title="E-mail">
                <i class="fa-solid fa-at" ></i>
            </a>
            <a href="../../../assets/Thiago Mota.pdf" target="_blank" title="Baixe meu curriculo">
                <i class="fa-solid fa-paperclip"></i>
            </a>
        </nav>
    </div>
    
    <div class="logo-area">
        <a href="/">
            <h1 id="logo" class="logo">Mota</h1>
        </a>
    </div>

    <div class="copyright">
        <p>{{ copyright }}</p>
    </div>
</footer>
