<div class="skills-group">
    <span class="skills-item">Nest.Js</span>
    <span class="skills-item">Angular</span>
    <span class="skills-item">Typescript</span>
    <span class="skills-item">Javascript</span>
    <span class="skills-item">React.Js</span>
    <span class="skills-item">SpringBoot</span>
    <span class="skills-item">Java</span>
    <span class="skills-item">MySql</span>
    <span class="skills-item">SQLite</span>
    <span class="skills-item">Git</span>
    <span class="skills-item">Docker</span>
    <span class="skills-item">Insomnia</span>
    <span class="skills-item">Figma</span>
</div>