.skills-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-group .skills-item {
    margin: 2.5px;
    padding: 5px;

    font-family: 'Poppins';
    letter-spacing: 2.5px;
    color: var(--contrastColor);
    border: 1px solid var(--contrastColor);
    border-radius: 5px;
}