header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

header > .logo-area > a {
    text-decoration: none;
}

header > .logo-area > a h1 {
    font-family: var(--firstFont);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 6.6px;

    color: var(--lettersColor);
}

header > .navigation-area > nav > a {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: var(--lettersColor);

    margin: 35px;
    position: relative;

    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
}

header > .navigation-area > nav > a:focus:after,
header > .navigation-area > nav > a:hover:after {
  width: 100%;
  left: 0%;
}

header > .navigation-area > nav > a:after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--contrastColor);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

header > .theme-area .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}
  
header > .theme-area .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25), 5px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 2px solid var(--contrastColor);
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    right: 26px;
    top: -3px;
    background-color: var(--contrastColor);
    box-shadow: 0px 0px 4.8px 2px rgba(0, 0, 0, 0.25) inset;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.checkbox:checked + .slider {
    background-color: var(--lettersColor);
}
  
.checkbox:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(28px);
}
  
header > .theme-area .slider.round {
    border-radius: 34px;
}
  
header > .theme-area .slider.round:before {
    border-radius: 50%;
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}