<header>
    <div class="logo-area">
        <a href="/">
            <h1>Mota</h1>
        </a>
    </div>
    <div class="navigation-area">
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Sobre mim</a>
            <a href="#">Projetos</a>
            <a href="#">Experiencia</a>
        </nav>
    </div>
    <div class="theme-area">
        <label class="switch">
            <input class="checkbox" type="checkbox" />
            <span class="slider round"></span>
        </label>
    </div>
</header>
