header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 15px;
    margin: 15px 15px;
    width: 97vw;

    position: fixed;
    top: 0;
    z-index: 100;

    .logo-area {
        a {
            text-decoration: none;
        }
    }
    .navigation-area {
        nav {
            a {
                font-family: var(--secondFont);
                font-weight: 400;
                font-size: 16px;
                text-decoration: none;
                letter-spacing: 2.5px;
                color: var(--lettersColor);
            
                margin: 35px;
                position: relative;
            
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
            }
            .active::after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: var(--contrastColor);
                left: 0;
              }
        } 
    }
    .settings-area {
        gap: 5px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}
    
#logo {
    font-family: var(--firstFont);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 7.6px;
    color: var(--lettersColor);

    transition: 0.4s ease-in-out;
}
.scrolled #logo {
    font-size: 38px;
}
header > .navigation-area > nav > a:focus:after,
header > .navigation-area > nav > a:hover:after {
  width: 100%;
  left: 0%;
}
header > .navigation-area > nav > a:after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--contrastColor);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 760px) {
    header {
        justify-content: center;
        padding: 10px;
        margin: 20px 1.4%;
        width: 97vw;
        border-radius: 25px;
        background: rgba(114, 114, 114, .2);
        backdrop-filter: blur(10px);

        .logo-area {
            display: none;
        }
        .navigation-area {
           nav {
            a {
                font-size: 13px;
                letter-spacing: 2.3px;
                margin: 6px;
            }
           }
        }
        .theme-area {
            display: none;
        }
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 781px) and (max-width: 1024px) {
    header {  
        justify-content: space-between;
        padding: 10px;
        margin: 20px 1.3%;
        width: 97vw;
        border-radius: 25px;
        background: rgba(114, 114, 114, .2);
        backdrop-filter: blur(10px);

        .logo-area {
            display: none;
        }
        .navigation-area {
            nav {
                a {
                    margin: 20px;
                }
            } 
        } 
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}