<header [ngClass]="{'scrolled': isScrolled}">
    <div class="logo-area">
        <a href="/">
            <h1 id="logo" class="logo">Mota</h1>
        </a>
    </div>

    <div class="navigation-area">
        <nav>
            <a href="#home">Inicio</a>
            <a href="#about">Sobre mim</a>
            <a href="#projects">Projetos</a>
            <a href="#experience">Experiencia</a>
        </nav>
    </div>

    <div class="settings-area">
        <app-theme-button></app-theme-button>
        <app-language-button></app-language-button>
    </div>
</header>
