header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 15px;
    margin: 15px 15px;
    width: 97vw;

    position: fixed;
    top: 0;
    z-index: 100;
}

.burguer-menu {
    display: none;
    color: var(--lettersColor);
    font-size: 26px;
}

.logo-area > a {
    text-decoration: none;
}

#logo {
    font-family: var(--firstFont);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 7.6px;
    color: var(--lettersColor);

    transition: 0.4s ease-in-out;
}
.scrolled #logo {
    font-size: 38px;
}

.navigation-area > nav > a {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: var(--lettersColor);

    margin: 35px;
    position: relative;

    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
}

header > .navigation-area > nav > a:focus:after,
header > .navigation-area > nav > a:hover:after {
  width: 100%;
  left: 0%;
}

header > .navigation-area > nav > a:after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--contrastColor);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {
    .burguer-menu {
        display: initial;
    }

    .navigation-area > nav {
        display: none;
    }

    .theme-area {
        display: none;
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 480px) and (max-width: 1024px) {}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}