header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin: 20px;
}

header > .logo-area > a {
    text-decoration: none;
}

header > .logo-area > a h1 {
    font-family: 'Bebas Neue';
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 5.6px;

    color: var(--lettersColor);

    overflow: hidden;
    position: relative;
}

header > .logo-area > a h1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
}

header > .navigation-area > nav > a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: var(--lettersColor);

    margin: 35px;
}

header > .theme-area .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}
  
header > .theme-area .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25), 5px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 2px solid var(--contrastColor);
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    right: 26px;
    top: -3px;
    background-color: var(--contrastColor);
    box-shadow: 0px 0px 4.8px 2px rgba(0, 0, 0, 0.25) inset;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.checkbox:checked + .slider {
    background-color: var(--lettersColor);
}
  
.checkbox:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}
  
  /* Rounded sliders */
  header > .theme-area .slider.round {
    border-radius: 34px;
}
  
header > .theme-area .slider.round:before {
    border-radius: 50%;
}

@keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
}