p {
    color: var(--lettersColor);

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px; 
    cursor: context-menu;

    .hi {
        z-index: 2;
    }
}
.name {
    display: flex;
    flex-direction: row;

    h1 {
        span {
            font-family: var(--firstFont);
            font-size: 7rem;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 15px;
        
            color: var(--lettersColor);
        
            transition: color 0.2s ease-in-out;
            cursor: context-menu;

            &:hover {
                color: var(--contrastColor);
            }
        }
    }
    .last-name {
        margin-left: 30px;

        #T {
            color: var(--contrastColor);  
        }
    }
}

.function .icon {
    margin-right: 3px;
}
.function {
    .function-span {
        position: relative;

        &::before{
            content: '';
            animation: words 40s infinite;
        }
        &::after {
            content: '';
            background-color: var(--backgroundColor1);
            position: absolute;
            width: calc(100% + 8px);
            height: 25px;
            border-left: 2px solid var(--contrastColor);
            right: -8px;
            animation: typing 40s steps(34) infinite, cursor-animation .8s infinite linear;
        }   
    }    
}

@keyframes cursor-animation {
    to {border-left: 2px solid var(--backgroundColor1);}
}
@keyframes words {
    0%,20%{content: 'Software developer';}
    21%,40%{content: 'Fullstack developer';}
    41%,60%{content: 'Web developer';}
    61%,80%{content: 'Freelancer developer';}
    81%,100%{content: 'Game developer';}
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{width: 0;}
    5%,20%,25%,40%,45%,60%,65%,80%,85%{width: calc(100% + 8px);}
}

@media screen and (max-width:  680px) {
    p {
        margin-bottom: 10px;
    }
    .label1 {
        font-size: 14px;
    }
    .name {  
        margin: 0% 10%;
        h1 {
            span {
                font-size: 3.5rem;
                letter-spacing: 10px;
            }
        }
        .last-name {
            margin-left: 20px;
        }
    }
    .function .icon {
        margin-right: 0px;
        font-size: 14px;
    }
    .function-span {
       font-size: 14px; 
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 681px) and (max-width: 1024px) {
    p {
        margin-bottom: 10px;
        margin-left: 8%;
    }
    .name {  
        flex-wrap: wrap;
        justify-content: start;
        width: 50%;
        margin-left: 8%;
        h1 {
            span {
               font-size: 10rem;
               letter-spacing: 18px; 
            }
        }
        .last-name {
            margin-left: 0px;
        }
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}