p {
    color: var(--lettersColor);

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px; 
}

.label1 {
    margin-bottom: 5px;
}

.name {
    display: flex;
    flex-direction: row;
}

.name .last-name {
    margin-left: 30px;
}

h1 span {
    font-family: var(--firstFont);
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 15px;

    color: var(--lettersColor);

    transition: color 0.2s ease-in-out;
}

h1 span:hover {
    color: var(--contrastColor);
}

p > span {
    margin-right: 3px;
}

button {
    padding: 15px 35px;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--secondFont);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;

    border-radius: 50px;
    border: 3px solid var(--contrastColor);
    box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.39);

    background: transparent;
    color: var(--lettersColor);

    transition: color 0.4s ease-in-out;
}

button:hover {
    background-color: var(--contrastColor);
}