<p class="label1">Ola <span class="hi">👋</span>, meu nome é</p>
<div class="name">
    <h1 class="first-name">
        <span>T</span>
        <span>h</span>
        <span>i</span>
        <span>a</span>
        <span>g</span>
        <span>o</span>
    </h1>
    <h1 class="last-name">
        <span>M</span>
        <span>o</span>
        <span id="T">t</span>
        <span>a</span>
    </h1>
</div>
<p class="function">
    <span class="icon">
        <i class="fa-solid fa-chevron-right" style="color: #ff570a;"></i>
    </span>
    <span class="function-span"></span>
</p>