p {
    color: var(--lettersColor);

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px; 
}

.label1 {
    margin-bottom: 5px;
}

h1 {
    font-family: var(--firstFont);
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 15px;

    color: var(--lettersColor);
}

p > span {
    margin-right: 3px;
}

button {
    padding: 15px 35px;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--secondFont);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;

    border-radius: 50px;
    border: 3px solid var(--contrastColor);

    background: transparent;
    color: var(--lettersColor);
}