<div class="avatar-box">
    <i class="fa-solid fa-code code-icon" [style.color]="colorCodeIcon" (click)="changeCodeIconColor()"></i>
    <i class="fa-solid fa-code-branch branch-icon"></i>
    <i class="fa-solid fa-ghost ghost-icon"></i>
    <i class="fa-solid fa-star-of-life asterisk-icon"></i>
    <img style="width: 430px; height: 430px;" src="../../../assets/avatar-img/avatar1.png" alt="avatar estilo pixar de thiago mota" class="big-avatar">
    <img src="../../../assets/avatar-img/avatar2.png" alt="avatar estilo pixar de thiago mota" class="medium-avatar">
    <label class="underline"></label>
</div>