.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}
.saudation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saudation-content {
    margin-top: 15%;
}
.download-cv {
    margin: 25px 0px;
}
.social-midias {
    margin-top: 40px;
}
.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 11%;
 
    background-color: green;
}

.perfil-photo {
    margin-right: 30px;
}

/* .skills {
    position: absolute;
    left: 13%;
}

.skills-title {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    color: var(--lettersColor);
} */





.projects {
    display: flex;
    justify-content: center;
    height: 100vh;

    background-color: green;
}

.experience {
    display: flex;
    justify-content: center;
    height: 88vh;
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {
    .home {
        text-align: center;
    }
    .avatar {
        display: none;
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .home {
        justify-content: center;
    }
    .avatar {
        justify-content: end;
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}