<app-header></app-header>
<main>
    <section class="saudation">
        <div class="saudation-content">
            <app-saudation></app-saudation>
        </div>
        <!-- <div class="social-midias">
            <nav>
                <a href="#">Icon</a>
                <a href="#">Icon</a>
                <a href="#">Icon</a>
                <a href="#">Icon</a>
            </nav>
        </div> -->
    </section>
    <!-- <section class="avatar">
        <img src="../../../assets/avatar-img/avatar1.png" alt="avatar estilo pixar de thiago mota">
    </section> -->
</main>
