<app-header></app-header>
<!-- <main>
    <section class="saudation">
        <div class="saudation-content">
            <app-saudation></app-saudation>
        </div>
        <div class="social-midias">
            <nav>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-github"></i></a>
                <a href="#"><i class="fa-brands fa-dev"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </nav>
        </div>
    </section>
    <section class="avatar">
        <i class="fa-solid fa-code code-icon"></i>
        <i class="fa-solid fa-code-branch branch-icon"></i>
        <i class="fa-solid fa-ghost ghost-icon"></i>
        <i class="fa-solid fa-star-of-life asterisk-icon"></i>
        <img style="width: 450px; height: 450px;" src="../../../assets/avatar-img/avatar1.png" alt="avatar estilo pixar de thiago mota">
        <label class="underline"></label>
    </section>
</main> -->

<section class="about">
    <div class="perfil-photo">
        <img src="../../../assets/perfil-img/perfil1.png" alt="foto de perfil">
    </div>
    <div class="description">
        <div class="apresentation">
            <p class="title-description">Qual é a minha missão?</p>
            <h3 class="catchphrase">impactar positivamente a vida das pessoas através da tecnologia</h3>
            <p class="text-description">
                <span>
                    <i class="fa-solid fa-chevron-right" style="color: #ff570a;"></i>
                </span>
                Minha jornada como desenvolvedor é mais do que uma carreira; é uma busca constante por maneiras de fazer a diferença. Confira meu portfólio e veja como estou utilizando a tecnologia para transformar vidas.
            </p>
        </div>
        <!-- <div class="skills">
            <h3 class="skills-title">Skills</h3>
            <div class="skills-group">
                <span class="skills-item">Nest.Js</span>
                <span class="skills-item">Angular</span>
                <span class="skills-item">Typescript</span>
                <span class="skills-item">Javascript</span>
                <span class="skills-item">React.Js</span>
                <span class="skills-item">SpringBoot</span>
                <span class="skills-item">Java</span>
                <span class="skills-item">MySql</span>
                <span class="skills-item">SQLite</span>
                <span class="skills-item">Git</span>
                <span class="skills-item">Docker</span>
                <span class="skills-item">Insomnia</span>
                <span class="skills-item">Figma</span>
            </div>
        </div> -->
    </div>
</section>
