.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;

    .saudation {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .saudation-content {
            margin-top: 15%;
        }
        .download-cv {
            margin: 25px 0px;
        }
        .social-midias {
            margin-top: 40px;
        }
    }  
    .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }  
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0% 9%;
        margin-top: 6%;

        .perfil-photo {
            margin-right: 30px;
        }
    }
    .skills {
        margin: 0% 10%;
        margin-top: 20px;

        .skills-title {
            font-family: var(--firstFont);
            font-weight: normal;
            font-size: 2.1rem;
            letter-spacing: 2.5px;
            color: var(--lettersColor);
        }
        .skills-items {
            margin-left: 2%;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .project-type-menu {
        width: 99vw;
        margin-top: 3%;
    }

    swiper-container {
        width: 72%;
        height: 73%;

        swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;

    .experience-type-menu {
        width: 99vw;
        margin-top: 6%;
        margin-bottom: 1%;
    }
    .fa-chevron-up {
        text-align: center;
        margin-bottom: -12px;
        margin-right: 0.2%;
        font-size: 18px;
        color: var(--contrastColor);
    }
    .experience-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0% 5%;
        overflow: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar{
            background-color: var(--backgroundColor1);
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--contrastColor);
            height: 30px;
        }
        app-experience-card:nth-child(odd) {
            margin-right: 450px;
            padding-right: 40px;
            border-right: 3px solid var(--contrastColor);

            &::after {
                content: "";
                display: flex;
                flex-direction: row;
                margin-left: 108.3%;
                margin-top: -22%;
                margin-bottom: 20%;
             
                width: 10px;
                height: 10px;
                border: 3px solid var(--contrastColor);
                border-radius: 50%;
                background-color: var(--backgroundColor1);
            }
        }
        app-experience-card:nth-child(even) {
            margin-left: 450px;
            padding-left: 40px;
            border-left: 3px solid var(--contrastColor);

            &::after {
                content: "";
                display: flex;
                flex-direction: row;
                margin-left: -11.8%;
                margin-top: -22%;
                margin-bottom: 20%;

                width: 10px;
                height: 10px;
                border: 3px solid var(--contrastColor);
                border-radius: 50%;
                background-color: var(--backgroundColor1);
            }
        }
    }
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {
    .home {
        text-align: center;

        .avatar {
            display: none;
        }
    }

    .about {
        .about-content {
            flex-direction: column;
            margin: 0% 5%;
            text-align: center;
    
            .perfil-photo {
                margin-right: 0px;
                margin-bottom: 2%;
            }
        }
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .home {
        justify-content: center;
        
        .avatar {
            justify-content: end;
        }
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}