.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;

    .saudation {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .saudation-content {
            margin-top: 15%;
        }
        .download-cv {
            margin: 25px 0px;
        }
        .social-midias {
            margin-top: 40px;
        }
    }  
    .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }  
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0% 9%;
        margin-top: 6%;

        .perfil-photo {
            margin-right: 30px;
        }
    }
    .skills {
        margin: 0% 10%;
        margin-top: 20px;

        .skills-title {
            font-family: var(--firstFont);
            font-weight: normal;
            font-size: 2.1rem;
            letter-spacing: 2.5px;
            color: var(--lettersColor);
        }
        .skills-items {
            margin-left: 2%;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    swiper-container {
        width: 72%;
        height: 76%;
        z-index: 1;
        margin-top: 8%;

        swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 430px;
            max-height: 170px;
            margin: 10px 0px 30px 10px;
        }
    }
    .projects-container {
        display: none;
    }
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;

    .experience-type-menu {
        width: 99vw;
        margin-top: 6%;
    }
    .fa-chevron-up {
        text-align: center;
        margin-bottom: -12px;
        margin-right: 0.2%;
        font-size: 18px;
        color: var(--contrastColor);
    }
    .experience-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0% 5%;
        overflow: hidden;
        overflow-y: auto;
    
        &::-webkit-scrollbar{
            background-color: var(--backgroundColor1);
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--backgroundColor2);
            height: 30px;
        }
        app-experience-card:nth-child(odd) {
            margin-right: 450px;
            padding-right: 40px;
            border-right: 3px solid var(--contrastColor);

            &::after {
                content: "";
                display: flex;
                flex-direction: row;
                margin-left: 108.3%;
                margin-top: -22%;
                margin-bottom: 12%;
             
                width: 10px;
                height: 10px;
                border: 3px solid var(--contrastColor);
                border-radius: 50%;
                background-color: var(--backgroundColor1);
            }
        }
        app-experience-card:nth-child(even) {
            margin-left: 450px;
            padding-left: 40px;
            border-left: 3px solid var(--contrastColor);

            &::after {
                content: "";
                display: flex;
                flex-direction: row;
                margin-left: -11.8%;
                margin-top: -22%;
                margin-bottom: 12%;

                width: 10px;
                height: 10px;
                border: 3px solid var(--contrastColor);
                border-radius: 50%;
                background-color: var(--backgroundColor1);
            }
        }
    }
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 680px) {
    .home {
        flex-direction: column;
        text-align: center;

        .saudation {
            .saudation-content {
                margin-top: 10%;
            }
            .social-midias {
                margin-top: 0px;
                margin: 6% 15%;
            }
        }
        .avatar {
            margin-top: -20px;
        }
    }
    .about {
        height: 110vh;
        .about-content {
            flex-direction: column;
            margin: 0% 5%;
            margin-top: 10%;
            text-align: center;
    
            .perfil-photo {
                margin-right: 0px;
                margin-bottom: 2%;
            }
        }
        .skills {
            margin: 0% 5%;
            .skills-title {
                margin: 3% 5%;
            }
        }
    }
    .projects {
        height: 110vh;
        swiper-container {
            display: none;
        }
        .projects-container {

            padding: 20px;
            display: initial;
            overflow: scroll;
            margin-top: 18%;
        }
    }
    .experience {
        .experience-type-menu {
            margin-bottom: 2%;
        }
        .fa-chevron-up {
            text-align: start;
            margin-bottom: -12px;
            margin-right: 0%;
            margin-left: 34px;
        }
        .experience-content {
            app-experience-card:nth-child(odd) {
                margin-right: 0px;
                margin-left: 12px;
                padding-right: 0px;
                padding-left: 20px;
                border-right: none;
                border-left: 3px solid var(--contrastColor);
                &::after {
                    margin-left: -9.5%;
                    margin-top: -32%;
                    margin-bottom: 20%;
                }
            }
            app-experience-card:nth-child(even) {
                margin-left: 12px;
                padding-left: 20px;
                &::after {
                    margin-left: -9.5%;
                    margin-top: -32%;
                    margin-bottom: 20%;
                }
                    
            }
        
        }
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 681px) and (max-width: 1000px) {
    .home {
        .saudation {
            .saudation-content {
                margin-top: 0%;
            }
            .social-midias {
                margin-top: 30px;
            }
        }  
    }
    .about {
        .about-content {
            flex-direction: row;
            margin: 0% 8%;
            margin-top: 0%;
    
            .perfil-photo {
                margin-right: 20px;
                margin-bottom: 0%;
            }
        }
        .skills {
            margin: 2% 5%;
            .skills-title {
                margin: 1% 5%;
            }
        }
    }
    .projects {
        swiper-container {
            swiper-slide {
                margin: 20px 0px 15px 0px;
            }
        }
    }
    .experience {
        .experience-type-menu {
            margin-top: 8%;
            margin-bottom: 2%;
        }
        .fa-chevron-up {
            text-align: start;
            margin-bottom: -12px;
            margin-left: 267px;
        }
        .experience-content {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin: 0% 5%;
            overflow: hidden;
            overflow-y: auto;
    
            &::-webkit-scrollbar{
                background-color: var(--backgroundColor1);
                width: 3px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--backgroundColor2);
                height: 30px;
            }
            app-experience-card:nth-child(odd) {
                margin-right: 0px;
                margin-left: 12px;
                padding-right: 0px;
                padding-left: 20px;
                border-right: none;
                border-left: 3px solid var(--contrastColor);
                &::after {
                    margin-left: -7%;
                    margin-top: -22%;
                    margin-bottom: 20%;
                }
            }
            app-experience-card:nth-child(even) {
                margin-left: 12px;
                padding-left: 20px;
                &::after {
                    margin-left: -7%;
                    margin-top: -22%;
                    margin-bottom: 20%;
                }      
            } 
        }
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}