.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}
.saudation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saudation-content {
    margin-top: 15%;
}
.download-cv {
    margin: 25px 0px;
}
.social-midias {
    margin-top: 40px;
}
.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.about {
    display: flex;
    justify-content: center;
    height: 100vh;

    background-color: blue;
}

/* .about > .about-content {
    display: flex;
    flex-direction: row;
    margin-top: 8%;

    width: 80%;
    height: 60%;
}

.about > .about-content > .perfil-photo img {
    width: 350px;
    height: 350px;
    margin: 20px;
  

    border: 2px solid var(--contrastColor);
    border-radius: 15px;
}

.about > .about-content .description {
    width: 100%;
    padding-left: 10px;
}

.about > .about-content > .description > .apresentation .title-description {
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: 2.5px;
    color: var(--contrastColor);

    margin-left: 10px;
}

.about > .about-content > .description > .apresentation .catchphrase {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 2.5px;
    color: var(--lettersColor);
}

.about > .about-content > .description > .apresentation .text-description {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 3px;

    color: var(--lettersColor);
} 

.about > .about-content > .description .skills {
    position: absolute;
    left: 13%;
}

.about > .about-content > .description > .skills .skills-title {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    color: var(--lettersColor);
}

.about > .about-content > .description > .skills > .skills-group {
    width: 70%;
    height: 30%;
}

.about > .about-content > .description > .skills > .skills-group .skills-item {
    margin: 2.5px;
    padding: 5px;

    font-family: 'Poppins';
    font-size: 1rem;
    letter-spacing: 2.5px;
    color: var(--contrastColor);

    border: 1px solid var(--contrastColor);
    border-radius: 5px;

} */

.projects {
    display: flex;
    justify-content: center;
    height: 100vh;

    background-color: green;
}

.experience {
    display: flex;
    justify-content: center;
    height: 88vh;
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {
    .home {
        text-align: center;
    }
    .avatar {
        display: none;
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .home {
        justify-content: center;
    }
    .avatar {
        justify-content: end;
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}