<section class="home" id="home">
    <div class="saudation">
        <div class="saudation-content">
            <app-saudation></app-saudation>
        </div>
        <div class="download-cv">
            <app-button title="Baixar curriculo"></app-button>
        </div>
        <div class="social-midias">
            <app-social-midias [icons]="icons"></app-social-midias>
        </div>
    </div>
    <div class="avatar">
        <app-avatar></app-avatar>
    </div>
</section>

<section class="about" id="about">
    <div class="about-content">
        <div class="perfil-photo">
            <app-photo></app-photo>
        </div>
        <div class="description">
            <app-resume></app-resume>
        </div>
    </div>
    <div class="skills">
        <h3 class="skills-title">Skills</h3>
        <div class="skills-items">
            <app-hard-skill></app-hard-skill>
        </div>
    </div>
</section>





<section class="projects" id="projects">
    <div class="project-type-menu">
        <app-options-window></app-options-window>
    </div>
    <div class="projects-content">
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
    </div>
</section>

<!-- <section class="experience" id="experience">

</section> -->

<section class="footer">
    <app-footer></app-footer>
</section>
