.card {
    max-width: 430px;
    min-width: 330px;
    background-color: var(--backgroundColor2);
    box-shadow: 10px 9px 0px 0px var(--shadow);
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
    
        h3 {
            font-family: var(--firstFont);
            font-weight: normal;
            font-size: 1.7rem;
            letter-spacing: 3px;
            color: #F8F0FB;
        }
        .links a {
            margin: 5px;
            
            i {
                color: #F8F0FB; 
                font-size: 1.6rem;
            }
        }
    }
    .tecnologies {
        margin-top: 10px;
        padding: 15px 0px 12px 15px;
    }
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 680px) {
    .card {
        max-width: 330px;
        min-width: 330px;
        margin-bottom: 12px;

        .tecnologies {
            margin-top: 5px;
        }
    }
}

@media screen and (min-width: 681px) and (max-width: 1000px) {
    .card {
        max-width: 330px;
        min-width: 330px;
        margin-bottom: 12px;

        .tecnologies {
            margin-top: 5px;
        }
    }
}