/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

:root {
    /* Colors */
    --contrastColor: #FF570A;
    --contrastColor2: #473BF0;
    --contrastColor3: #02D463;
    --backgroundColor1: #252323;
    --backgroundColor2: #3E3B3B;
    --backgroundColor3: #3E3B3B;
    --lettersColor: #F8F0FB;
    --shadow: rgba(0, 0, 0, 0.2);

    /* fonts */
    --firstFont: 'Bebas Neue';
    --secondFont: 'Poppins';
}

:root .light-theme {
    /* Colors */
    --contrastColor: #FF570A;
    --contrastColor2: #473BF0;
    --contrastColor3: #02D463;
    --backgroundColor1:#F8F0FB;
    --backgroundColor2: #3E3B3B;
    --backgroundColor3: #F8F0FB;
    --lettersColor: #252323;
    --shadow: rgba(0, 0, 0, 0.2);

    /* fonts */
    --firstFont: 'Bebas Neue';
    --secondFont: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor1);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
        background-color: var(--backgroundColor1);
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--backgroundColor2);
        height: 30px;
    }
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
    }
}