<div class="apresentation">
    <p class="title-description">{{ title }}</p>
    <h3 class="catchphrase">{{ catchphrase }}</h3>
    <p class="text-description">
        <span>
            <i class="fa-solid fa-chevron-right" style="color: #ff570a;"></i>
        </span>
        Minha jornada como desenvolvedor é mais do que uma carreira; é uma busca constante por maneiras de <span style="color: #ff570a;">fazer a diferença</span>. Confira meu portfólio e veja como estou utilizando a tecnologia para <span style="color: #ff570a;">transformar vidas</span>.
    </p>
</div>