.title-description {
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 2.5px;
    color: var(--contrastColor);

    margin-left: 10px;
}

.catchphrase {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 2.5px;
    color: var(--lettersColor);
}

.text-description {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 3px;
    width: 90%;

    color: var(--lettersColor);
} 

/* Regras para telas menores (celulares) */
@media screen and (max-width: 480px) {
    .title-description {
        font-size: 1.1rem;
    }
    .catchphrase {
        font-size: 1.5rem;
    }
    .text-description {
        font-size: 1rem;
        width: 100%;
    }
}

/* Regras para telas menores (celulares) */
@media screen and (max-width: 680px) {
    .title-description {
        font-size: 1.1rem;
        margin-left: 0px;
    }
    .catchphrase {
        font-size: 1.5rem;
        margin: 5px 0px;
    }
    .text-description {
        font-size: 1.1rem;
        text-align: left;
        margin: 0% 4%;
    }
}

/* Regras para telas médias (tablets) */
@media screen and (min-width: 481px) and (max-width: 1040px) {
    .title-description {
        font-size: 1.5rem;
    }
    .catchphrase {
        font-size: 2.5rem;
    }
    .text-description {
        width: 100%;
    }
}

/* Regras para telas grandes (monitores) */
@media screen and (min-width: 1025px) {}